/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #d44e6b;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 80px;
    text-align: center;
}

.footer-top {
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 50px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: 43%;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
footer .line{
    margin-left: 41%;
}
}

@media only screen and (max-width: 576px) and (min-width: 300px) {
    footer .line{
        margin-left: 44%;
    }
    }

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

textarea {
    resize: none;
}

/* Modal */

.modal-input {
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 15px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    box-shadow: inset 0 -2px #ebebeb;
}

